<section>
    <header>JS Mobile View</header>
    <div>
      <div class="flex">
        <div>
          <!-- <button (click)="downloadThumbnail()" style="margin-right: 1rem;"> Download Thumbnail</button> -->
          <button (click)="startRecording()">Start Recording</button>
        </div>
        <div>
          <label>Input Images</label>
          <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
        </div>
   
        <div>
       
          <div>
            <input #downloadEnableRef id="downloadEnable" type="checkbox" [checked]="downloadEnable"
              (change)="downloadEnable = downloadEnableRef.checked" />
            <input #EnableAudioRef id="EnableAudioRef" type="checkbox" [checked]="EnableAudio"
              (change)="EnableAudio = EnableAudioRef.checked" />
  
          </div>
        </div>
      </div>
  
  
    </div>
  
    <br />
    <section>
      <div class="flex">
  
        <section>
          <!-- <canvas hidden id="hiddenCanvas" [width]="50" [height]="50" #hiddenCanvas></canvas> -->
          <canvas id="my-canvas" class="my-canvas" [width]="canvasWidth" [height]="canvasHeight" #myCanvas></canvas>
          <!-- <video   controls #player></video> -->
        </section>
  
        <section>
  
          <div class="flex">
  
            <div class="">
              <div>
                <label>Width</label>
                <input placeholder="Width" [(ngModel)]="canvasWidth" />
              </div>
              <div>
                <label>Height</label>
                <input placeholder="height" [(ngModel)]="canvasHeight" />
              </div>
              <div>
                <label>Video Time</label>
                <input placeholder="videoTime" [(ngModel)]="videoTime" />
              </div>
              <div>
                <label>Image Block Size</label>
                <input placeholder="imageBloackSize" [(ngModel)]="imageBloackSize" />
              </div>
            </div>
  
            <div class="">
              <div>
                <label>Font Size</label>
                <input placeholder="fontSize" [(ngModel)]="fontSize" />
              </div>
              <div>
                <label>Text On Top</label>
                <input placeholder="textOnTop" [(ngModel)]="textOnTop" />
              </div>
              <div>
                <label>Text On Bottom</label>
                <input placeholder="textOnBottom" [(ngModel)]="textOnBottom" />
              </div>
            </div>
          </div>
  
          <div class="">
            <div *ngFor="let img of imagesArray;let index=index;">
              <div class="flex" style="margin-bottom: 1rem;">
                <div style="padding-right: .5rem;">
                  <label>Main</label>
                  <img [src]="img.img.src" width="50" height="50">
                </div>
                <div style="padding-left: .5rem;" *ngIf="oddImagesArray.length">
                  <label>Odd at {{randomLocation}}</label>
                  <img [src]="oddImagesArray[index].img.src" width="50" height="50">
                </div>
  
  
              </div>
  
            </div>
          </div>
        </section>
      </div>
  
  
  
    </section>
  
  </section>