.my-canvas {
    // background: #222;
    background-image: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
  }
  
  .flex {
    display: flex;
    /* justify-content: space-around; */
    margin-right: 1rem;
    margin-bottom: .5rem;
  }
  .flex > :nth-child(even) {
    margin: 0 1rem;
  }
  